.overlay{
width: 100%;
background-color: rgba(0, 0, 0, 0.7);
z-index: 2;
padding: 5% 0;
}
.section-6
{   width: 100%;
    margin: auto 0;
    background-image: url('/assets/img/Assets/lady-driver.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
button
{
    background-color: #5c0429;
    border-radius: 50px;
    border: 0; 
    color: #fff;
}

@media (min-width: 768px)
{
    button
    {
    font-size: 1.25rem;
    line-height: 1.5;
    }

}