<app-navbar></app-navbar>
<app-navbar-secondary></app-navbar-secondary>
<div class="banner">
    <div class="overlay">
        <div class="container w-50">
            <div class="row">
                <h2 class="yellow-text my-5 mx-auto centered-text">
                    Nearby Dispatchers
                </h2>
            </div>
            <div class="row">
                <div class="input-group m-2">
                    <input type="text" class="form-control" id="rounded-input" placeholder="Pickup Address">
                    <input type="text" class="form-control" id="input-2" placeholder="Delivery Address">
                    <div class="input-group-append">
                        <button class="input-group-text" id="request-button" >Request Boxit</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-7">

        </div>
        <div class="col-lg-5">
            <ul class="nav vehicle-selector my-5 mx-auto">
                <li class="nav-item p-1">
                    <a class="nav-link active" (click)="switch('all')">All</a>
                </li>
                <li class="nav-item p-1">
                    <a class="nav-link" (click)="switch('motorcycle')">Bike</a>
                </li>
                <li class="nav-item p-1">
                    <a class="nav-link"(click)="switch('car-alt')">Car</a>
                </li>
                <li class="nav-item p-1">
                    <a class="nav-link" (click)="switch('truck')">Truck</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container monty">

<div class="row m-5">
  <!-- <div class="clearfix" ng-if="$index % 3 == 0"></div> -->
    <div *ngFor="let result of results" class="col-md-4">
        <div class="card mx-auto">
            <i class="fa fa-{{result.vehicleType}} pink-text float-left p-3"></i>
            <img class="card-img-top rounded-circle mx-auto" src={{result.img_url}}>
            <div class="card-body">
                <div class="row">
                    <h5 class="centered-text mx-auto medium-weight">{{result.name}}</h5>
                </div>
                <div class="row">
                    <div class="rating yellow-text mx-auto">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                    </div>
                </div>
                <hr class="m-2 separator">
                <div class="row mx-auto">
                    <div class="col-md-6 half-line-height p-1">
                        <p class="pink-text medium-weight">{{result.carType}}</p>
                        <p class="grey-text"> Car Type</p>
                    </div>
                    <div class="col-md-6 half-line-height p-1">
                        <p class="pink-text medium-weight">{{result.plateNo}}</p>
                        <p class="grey-text"> Plate No</p>
                    </div>
                </div>
                <hr class="m-2 separator">
                <p class="grey-text centered-text">30 mins away</p>
                <button id="select-driver" class="p-2" (click)="openRequestModal(result.id)">SELECT DRIVER</button>
            </div>
        </div>
    </div>
</div>

</div>


<app-dispatch-div></app-dispatch-div>
<app-suscribe></app-suscribe>
<app-footer></app-footer>


<ng-template #template>
    <div class="container" id="modal-container">
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body px-5 py-1 mb-3">
        <div class="row">
            <div class="col-lg-6">
            <p>Driver id - {{selected Id}}</p>
             <p>Pickup Location</p>
             <p>2 Bamidele close VI Lagos</p>
            </div>
            <div class="col-lg-6">
             <p>Delivery Location</p>
             <p>5 Ocean Bay Estate Boulevard Road VI Lagos</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
            <span>Payment Method</span>
            </div>
          <div class="col-lg-6">
            <span>xxxx-xxxx-xxxx-3466</span>
          </div>
          <div class="col-lg-2">
        <span class="float-right pink-text"><a>Change</a></span>
          </div>
        
        </div>
        <div class="row">
        <textarea class="form-control" placeholder="Enter Message to driver (Optional)"></textarea>
        </div>
        <button class="align-right" (click)="getDriverDetails(selectedId)"> REQUEST DRIVER</button>
</div>
</div>
</ng-template>
