<app-navbar></app-navbar>
<app-navbar-secondary></app-navbar-secondary>
<div class="banner">
    <div class="overlay">
        <div class="container w-50">
            <div class="row">
                <h2 class="yellow-text my-5 mx-auto centered-text">
                    Nearby Dispatchers
                </h2>
            </div>
            <div class="row">
                <div class="input-group m-2">
                    <input type="text" class="form-control" id="rounded-input" placeholder="Pickup Address">
                    <input type="text" class="form-control" id="input-2" placeholder="Delivery Address">
                    <div class="input-group-append">
                        <button class="input-group-text" id="request-button" >Request Boxit</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
  <div class="row m-5">
    <div *ngFor="let driver of drivers" class="col-md-4">
    <div class="card">
    <img class="card-img-top rounded-circle mx-auto"  src={{driver.img_url}}>
    <div class="card-body">
    <div class="row">
    <h5 class="pink-text centered-text mx-auto">{{driver.name}}</h5>
    </div>
    <div class="row">
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
            </div>
    </div>
    <div class="row mx-auto">
      <div class="col-md-6">
          <p class="pink-text">{{driver.carType}}</p>
          <p class="grey-text"> Car Type</p>
      </div>
      <div class="col-md-6">
          <p class="pink-text">{{driver.plateNo}}</p>
          <p class="grey-text"> Plate No</p>
      </div>
    </div>
    <button id="select-driver" class="p-2">SELECT DRIVER</button>
    </div>
    </div>
    </div>
  </div>
  <div class="row m-5">
      <div *ngFor="let driver of drivers" class="col-md-4">
      <div class="card">
      <img class="card-img-top rounded-circle mx-auto"  src={{driver.img_url}}>
      <div class="card-body">
      <div class="row">
      <h5 class="pink-text centered-text mx-auto">{{driver.name}}</h5>
      </div>
      <div class="row">
          <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half"></i>
              </div>
      </div>
      <div class="row mx-auto">
        <div class="col-md-6">
            <p class="pink-text">{{driver.carType}}</p>
            <p class="grey-text"> Car Type</p>
        </div>
        <div class="col-md-6">
            <p class="pink-text">{{driver.plateNo}}</p>
            <p class="grey-text"> Plate No</p>
        </div>
      </div>
      <button id="select-driver" class="p-2">SELECT DRIVER</button>
      </div>
      </div>
      </div>
    </div>
    <div class="row m-5">
        <div *ngFor="let driver of drivers" class="col-md-4">
        <div class="card">
        <img class="card-img-top rounded-circle mx-auto"  src={{driver.img_url}}>
        <div class="card-body">
        <div class="row">
        <h5 class="pink-text centered-text mx-auto">{{driver.name}}</h5>
        </div>
        <div class="row">
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half"></i>
                </div>
        </div>
        <div class="row mx-auto">
          <div class="col-md-6">
              <p class="pink-text">{{driver.carType}}</p>
              <p class="grey-text"> Car Type</p>
          </div>
          <div class="col-md-6">
              <p class="pink-text">{{driver.plateNo}}</p>
              <p class="grey-text"> Plate No</p>
          </div>
        </div>
        <button id="select-driver" class="p-2">SELECT DRIVER</button>
        </div>
        </div>
        </div>
      </div>
</div>
<app-dispatch-div></app-dispatch-div>
<app-suscribe></app-suscribe>
<app-footer></app-footer>