<div class="container">
  <div class="row">
    <div *ngFor="let driver of drivers" class="col-md-4">
    <p>{{driver.name}}</p>
    <p>{{driver.carType}}</p>
    <p>{{driver.plateNo}}</p>
    </div>
  </div>
  <div class="row">
      <div *ngFor="let driver of drivers" class="col-md-4">
      <p>{{driver.name}}</p>
      <p>{{driver.carType}}</p>
      <p>{{driver.plateNo}}</p>
      </div>
    </div>
    <div class="row">
        <div *ngFor="let driver of drivers" class="col-md-4">
        <p>{{driver.name}}</p>
        <p>{{driver.carType}}</p>
        <p>{{driver.plateNo}}</p>
        </div>
      </div>
</div>