.banner
{
    background-image: url('/assets/img/Assets/Mask\ Group\ 30.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
img{
    height: 128px;
    widows: 128px;
}
.overlay{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    padding: 5% 0;
    }

    .input-group
    {
        font-family: 'Montserrat', sans-serif;
    }
    #request-button
    {
        background-color: #5c0429;
        border-radius: 0 2rem 2rem 0;
        color: #fff;
        width: 10rem;
        text-align: center !important;
    } 
    #rounded-input
    {
        border-radius: 2rem 0 0 2rem; 
        height: calc(3rem + 2px);
        border-color: white;
        color: #aaaaaa;
    }
    #input-2
    {
        height: calc(3rem + 2px);
        border-color: white;
        color: #aaaaaa;
    }
#select-driver
{
    border: 0;
    background-color: #5c0429;
    color: white;
    width: 15rem;
}
img{
    width: 50%;
}
i{
    font-size: 1em;
}
.separator
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #aaaaaa;
    padding: 0;
}
.half-line-height
{
    line-height: 5px;
}
.medium-weight
{
    font-weight: 600;
}
.card
{
    border: 0;
    box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.vehicle-selector
{
    border: 1px solid #707070;
    border-radius: 5px;
    width: 280px;
}
.vehicle-selector .nav-item
{
    border-right: 1px solid #707070;
}
/* use angular active class for the li and make the background pink */
.vehicle-selector .nav-item .nav-link
{
    color: #676768;
}
.vehicle-selector .nav-item .nav-link:active
{
    color: #fff;

}