<footer>
  <div class="container p-3">
  <div class="row p-5">
  <div class="col-md-3">
  <img src="/src/assets/img/Assets/Group 829.png">
  </div>
    <div class="col-md-3">
    <ul class="footer-links">
     <li class="footer-link-active">About Box-it</li>
     <li class="footer-link">How Box-It Works</li>
    <li class="footer-link">Safety</li>
    <li class="footer-link">Careers</li>
    <li class="footer-link">Countries</li>
    <li class="footer-link">FAQs</li>
    
    </ul>
    </div>
    <div class="col-md-3">
    <ul class="footer-links">
    <li class="footer-link-active">Be A Dispatcher</li>
    <li class="footer-link">Sign up to be a Dispatcher</li>
    <li class="footer-link">Requirements</li>
    <li class="footer-link">Driver App</li>
    </ul>
    </div>
    <div class="col-md-3">
    <img src="/src/assets/img/Assets/google-play-badge-en.png">
    </div>
  </div>
  </div>
  <div class="row p-3 lower-footer">
    <div class="container">
    <ul class="footer-links lower-footer-links ml-auto">
     <li>Accessibility</li>
     <li>Terms</li>
     <li><i class="far fa-copyright"></i>2018 Boxit</li>
    </ul>
  </div>
   </div>
</footer>