<app-navbar></app-navbar>
<app-navbar-secondary></app-navbar-secondary>
<div class="banner">
 <div class="overlay">
  <div class="container w-50">
  <div class="row">
      <h1 class="white-text m-2">
          Find Nearby Drivers For Your Pickup and Delivery Needs
      </h1>
      <h2 class="yellow-text m-2">
          Nigeria’s No 1 On-demand Delivery and Pickup Platform
      </h2>
  </div>
  <div class="row">
      <div class="input-group m-2">
          <input type="text" class="form-control" placeholder="Pickup Address">
          <input type="text" class="form-control" placeholder="Delivery Address">
          <div class="input-group-append">
              <span class="input-group-text" id="" (click)="createComponent()">Request Boxit</span>
            </div>
        </div>
  </div>

</div>
</div>
</div>
<template #drivergrid>

</template>
