<div class="container">
<carousel>
  <slide>
    <div class="row m-5">
      <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget justo justo. Ut vehicula nisl at nisl finibus, in fermentum
      dui ultricies. Aenean magna lectus, tempus nec augue at, laoreet viverra nunc. Nunc efficitur arcu eget nulla hendrerit,
      sed ultricies risus pharetra. In tristique pellentesque urna, in rutrum purus imperdiet 
      hendrerit. Mauris pharetra lacinia auctor. </p>
      <img alt="customer" src="/src/assets/img/Assets/driver.png">
      <h4>Customer Name</h4>
      </div>
      <div class="col-md-6">
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget justo justo. Ut vehicula nisl at nisl finibus, in fermentum
      dui ultricies. Aenean magna lectus, tempus nec augue at, laoreet viverra nunc. Nunc efficitur arcu eget nulla hendrerit,
      sed ultricies risus pharetra. In tristique pellentesque urna, in rutrum purus imperdiet hendrerit. Mauris pharetra lacinia
      auctor. </p>
         <img alt="customer" src="/src/assets/img/Assets/driver.png">
          <h4>Customer Name</h4> 
      </div>
      </div>  </slide>
  <slide>
    <div class="row m-5">
      <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget justo justo. Ut vehicula nisl at nisl finibus, in fermentum
      dui ultricies. Aenean magna lectus, tempus nec augue at, laoreet viverra nunc. Nunc efficitur arcu eget nulla hendrerit,
      sed ultricies risus pharetra. In tristique pellentesque urna, in rutrum purus imperdiet 
      hendrerit. Mauris pharetra lacinia auctor. </p>
      <img alt="customer" width="50px" src="/src/assets/img/Assets/delivery.png">
      <h4>Customer Name</h4>
      </div>
      <div class="col-md-6">
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget justo justo. Ut vehicula nisl at nisl finibus, in fermentum
      dui ultricies. Aenean magna lectus, tempus nec augue at, laoreet viverra nunc. Nunc efficitur arcu eget nulla hendrerit,
      sed ultricies risus pharetra. In tristique pellentesque urna, in rutrum purus imperdiet hendrerit. Mauris pharetra lacinia
      auctor. </p>
         <img alt="customer" width="50px" src="/src/assets/img/Assets/delivery.png">
          <h4>Customer Name</h4> 
      </div>
      </div>  </slide>
  <slide>
    <div class="row m-5">
      <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget justo justo. Ut vehicula nisl at nisl finibus, in fermentum
      dui ultricies. Aenean magna lectus, tempus nec augue at, laoreet viverra nunc. Nunc efficitur arcu eget nulla hendrerit,
      sed ultricies risus pharetra. In tristique pellentesque urna, in rutrum purus imperdiet 
      hendrerit. Mauris pharetra lacinia auctor. </p>
      <img alt="customer" src="/src/assets/img/Assets/group.png">
      <h4>Customer Name</h4>
      </div>
      <div class="col-md-6">
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget justo justo. Ut vehicula nisl at nisl finibus, in fermentum
      dui ultricies. Aenean magna lectus, tempus nec augue at, laoreet viverra nunc. Nunc efficitur arcu eget nulla hendrerit,
      sed ultricies risus pharetra. In tristique pellentesque urna, in rutrum purus imperdiet hendrerit. Mauris pharetra lacinia
      auctor. </p>
         <img alt="customer" src="/src/assets/img/Assets/group.png">
          <h4>Customer Name</h4> 
      </div>
      </div>  </slide>
</carousel>

