<div class="section-7 m-5">
  <div class="container mb-5">
    <h3 class="centered-text pink-text m-2">Suscribe to Newsletter</h3>
    <p class="centered-text grey-text m-2">Get First hand Info on Promos and Bonuses. We keep your account details safe with us</p>
    <br>
    <br>
    <br>
    <br>
    <div class="input-group mb-5">
      <input type="text" class="form-control p-md-3 p-1 text-center" id="suscribe-email" placeholder="Enter Email Address Here" aria-label="email"
        aria-describedby="basic-addon2">
      <div class="input-group-append " id="request-button">
        <button class="input-group-text btn btn-lg p-md-3 p-1 text-center" id="basic-addon2">Request Boxit</button>
      </div>
    </div>

  </div>
</div>