.input-group
{
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 768px)
{
 #basic-addon2
{
    background-color: #5c0429;
    border-radius: 0 2rem 2rem 0;
    box-shadow:2px 5px 2px 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    width: 20rem;
    text-align: center !important;
} 
#suscribe-email
{
    border-radius: 2rem 0 0 2rem; 
    height: calc(4rem + 2px);
    border-color: white;
    box-shadow:2px 5px 2px 1px rgba(0, 0, 0, 0.2);
    color: #aaaaaa;
}
}
@media (max-width: 767px)
{
 #basic-addon2
{
    background-color: #5c0429;
    border-radius:  2em !important;
    box-shadow:2px 5px 2px 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    width: 200px;
    font-size: 12px !important;
} 
#suscribe-email
{
    border-radius: 2em !important; 
    border-color: white;
    box-shadow:2px 5px 2px 1px rgba(0, 0, 0, 0.2);
    color: #aaaaaa;
    margin-bottom: 20px;
    width: 200px;
    font-size: 12px !important;
}

.input-group{
    width: 200px;
    margin: 0 auto;
}
/* #request-button
{
    width: 250px;
} */
}


