.overlay{
width: 100%;
background-color: rgba(0, 0, 0, 0.8);
z-index: 2;
padding: 5% 0;
}
.section-6
{   width: 100%;
    margin: auto 0;
    background-image: url('/src/assets/img/Assets/lady-driver.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
section
{
    width: 30%;
    color: #fff;
    margin-left: 20%;
}
button
{
    width: 350px;
    background-color: #5c0429;
    border-radius: 50px;
    border: 0; 
    color: #fff;
    padding: 10px;
}