<div class="section-6">
<div class="overlay">
  <div class="container">
  <div class="row text-white">
    <div class="col-md-6 text-md-left text-center px-lg-0 px-2 py-lg-2 py-5">
      <h3>Make Money On Boxit</h3>
      <h3>Become a Dispatcher</h3>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas feugiat felis. Mauris lobortis nisl nec mi convallis
        finibus.</p>
        <div class="text-md-left text-center">
      <button class="btn mt-4 px-5 py-2">Register As a Dispatcher</button>
      </div>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>
</div>

</div>