/* You can add global styles to this file, and also import other style files */



h1, h2
{
    font-family: 'Montserrat', sans-serif;
}
 h3, h4, h5, h6{
    font-family: 'Roboto Slab', serif;
}


p, a 
{
    font-family: 'Lato', sans-serif;
}
.grey-text
{
    color: #676768;
}
.pink-text
{
    color: #5c0426;
}
.yellow-text
{
    color: #ffcf27;
}
.white-text
{
    color:#fff;
}
.centered-text
{
    text-align: center;
}