<app-navbar></app-navbar>
<app-navbar-secondary></app-navbar-secondary>
<div class="banner">
    <div class="overlay">
    <div class="row label-div  d-flex align-items-end justify-content-center justify-content-lg-start">
        <div class="col-sm-4 d-flex justify-content-center justify-content-md-end">
            <img class="img-circle" src={{drivers[id].img_url}}>
        </div>
        <div class="col-sm-6">
            <h4>{{drivers[id].name}}</h4>
            <!-- <div *ngFor= "let i of drivers[id].rating">
                      <i class="fa fa-star"></i>
                  </div> -->
    
            <div class="row">
                <div class="col-sm-6">
                    <h6>{{drivers[id].carType}}</h6>
                    <p>Car Type</p>
                </div>
                <div class="col-sm-6">
                    <h6>{{drivers[id].plateNo}}</h6>
                    <p>Plate No</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>



<div  class="row ">
<!-- tabs navigation-->
<div class="col-lg-6">
</div>
<div class="col-lg-5">
<ul class="d-flex align-items-center monty">
<li class="px-3 py-2"><a routerLink='map'>Map</a></li>
<li class="px-3 py-2"><a routerLink='message'>Message</a></li>
<li class="px-3 py-2"><a routerLink='profile'>Profile</a></li>
</ul>
</div>
<div class="col-lg-1">
</div>

</div>

<div class="container-fluid">
<div class="row">
<!-- router outlet -->
<router-outlet></router-outlet>
</div>

</div>