<app-navbar></app-navbar>
<app-navbar-secondary></app-navbar-secondary>
<div class="banner">
    <div class="overlay">
    <div class="row label-div">
        <div class="col-lg-2">
            <!-- <img class="rounded-circle" src={{drivers[id].img_url}} height="150px"> -->
        </div>
        <div class="col-lg-10">
            <h2>{{drivers[id].name}}</h2>
            <!-- <div *ngFor= "let i of drivers[id].rating">
                      <i class="fa fa-star"></i>
                  </div> -->
    
            <div class="row">
                <div class="col-lg-6">
                    <h4>{{drivers[id].carType}}</h4>
                    <h6>Car Type</h6>
                </div>
                <div class="col-lg-6">
                    <h4>{{drivers[id].plateNo}}</h4>
                    <h6>Plate No</h6>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>



<div  class="row ">
<!-- tabs navigation-->
<div class="col-lg-6">
</div>
<div class="col-lg-5">
<ul class="d-flex align-items-center monty">
<li class="px-3 py-2"><a routerLink='map'>Map</a></li>
<li class="px-3 py-2"><a routerLink='message'>Message</a></li>
<li class="px-3 py-2"><a routerLink='profile'>Profile</a></li>
</ul>
</div>
<div class="col-lg-1">
</div>

</div>

<div class="container-fluid">
<div class="row">
<!-- router outlet -->
<router-outlet></router-outlet>
</div>

</div>