<app-navbar></app-navbar>
<app-navbar-secondary></app-navbar-secondary>
<div class="banner">
    <div class="overlay">

    </div>
</div>
<div class="container-fluid">


<div  class="row ">
<!-- tabs navigation-->
<div class="col-lg-6">
</div>
<div class="col-lg-5">
<ul class="d-flex align-items-center monty">
<li class="px-3 py-2"><a routerLink='map'>Map</a></li>
<li class="px-3 py-2"><a routerLink='message'>Message</a></li>
<li class="px-3 py-2"><a routerLink='profile'>Profile</a></li>
</ul>
</div>
<div class="col-lg-1">
</div>

</div>

<div class="row">
<!-- router outlet -->
<router-outlet></router-outlet>
</div>

</div>