<div class="landing-div">
    <app-navbar></app-navbar>

    <div class="banner">
        <div class="container">
            <div class="row mt-5 text-lg-left text-center align-items-center">
                <div class="col-lg-6">
                    <h1>Pickup, Delivery and Food Ordering Made Easy</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas feugiat felis. Mauris lobortis
                        nisl nec mi convallis finibus. Nulla facilisi. Donec urna orci, placerat vestibulum sapien eget,
                        laoreet egestas elit.</p>
                    <p class="yellow-text">Now Available on Android</p>
                    <img alt="google-play-badge img-fluid" src="/assets/img/Assets/google-play-badge-en.png">
                </div>
                <div class="col-lg-6">
                    <img class="image img-fluid d-lg-block d-none" src="assets/img/Assets/1261.png">
                </div>
            </div>
        </div>

    </div>
    </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                   <p class="centered-text p-1">As trusted by</p>
                </div>
              </div>
                <div class="row p-4  mx-auto centered-text">
                        <div class="col-lg-3">
                        <img alt="spectranet-logo" src="/assets/img/Assets/spectranet-logo.png" class="img-fluid my-2">
                        </div>
                        <div class="col-lg-2">
                         <img alt="bukka-hut-logo" src="assets/img/Assets/Bukka-Hut-Logo.png" class="img-fluid my-2">
                         </div>
                         <div class="col-lg-2">
                         <img alt="mega-chicken-logo" src="assets/img/Assets/Mega-Chicken-Logo-3D-Low-Res.png" class="img-fluid my-2">
                         </div>
                         <div class="col-lg-2">
                          <img alt="fuud-logo" src="assets/img/Assets/nhrh9dpsslom5ssyb4xv.png" class="img-fluid my-2">
                         </div>
                         <div class="col-lg-3">
                         <img alt="the-place-logo" src="assets/img/Assets/header_the-place-lagos.png" class="img-fluid my-2">
                         </div>
                        </div>
            <div class="row p-2 my-2 mx-auto">
            <div class="col-lg-12">
            <div class="section-3">
            <h3 class="centered-text pink-text">On demand Delivery and Restaurant Services</h3>
            <p class="centered-text grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas feugiat felis. Mauris lobortis nisl nec mi convallis finibus. Nulla facilisi. Donec urna orci, placerat vestibulum sapien eget, laoreet egestas elit. </p>
            </div>
            </div>
        </div>
        <div class="row  p-2 my-2 mx-auto centered-text">
                <div class="col-lg-4">
                <img alt="delivery-icon" src="assets/img/Assets/delivery.png"  class="m-3 img-fluid">
                <h4 class="m-2 grey-text">Easiest Way to get your Pickup and Delivery Done</h4>  
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas feugiat felis. Mauris lobortis nisl nec mi convallis finibus. Nulla facilisi. Donec urna orci, placerat vestibulum sapien eget, laoreet egestas elit.</p>  
                </div>
                <div class="col-lg-4">
                        <img alt="meal-icon" src="assets/img/Assets/meal.png" class="m-3 img-fluid">
                        <h4 class="m-2 grey-text">Get Food Delivered to Your Doorstep Quickly</h4>  
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas feugiat felis. Mauris lobortis nisl nec mi convallis finibus. Nulla facilisi. Donec urna orci, placerat vestibulum sapien eget, laoreet egestas elit.</p>  
                        </div>                
                <div class="col-lg-4">
                                <img alt="delivery-icon" src="assets/img/Assets/guarantee.png"class="m-3 img-fluid">
                                <h4 class="m-2 grey-text">Low Cost Rate and Excellent Value</h4>  
                                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas feugiat felis. Mauris lobortis nisl nec mi convallis finibus. Nulla facilisi. Donec urna orci, placerat vestibulum sapien eget, laoreet egestas elit.</p>  
                                </div>
                </div>                   
            </div>
            <div class="container-fluid">
             <div class="section-4">
             <!-- <div class="row">
                <div class="col-lg-6">
                <img alt="mobile-phone" src="/src/assets/img/Assets/01.png" id="phone-img">
                </div>
                <div class="col-lg-6">
                <img alt="mobile-phone" src="/src/assets/img/Assets/burger.png" id="burger-img">
                
                </div>
             </div> -->
             </div>
            </div>
        <div class="container">
         <div class="row">
            <div class="col-lg-12">
                <div class="section-5">
                    <h3 class="centered-text pink-text">No matter the size</h3>
                    <p class="centered-text grey-text">We have dispatchers across the country with different types of vehicles ranging from Motobikes, Salon Cars and vans.
                        </p>
                </div>
         </div>
       
       
     
        </div>
        <div class="row">
        <div class="col-lg-4">
        <img alt="car-1" class="img-fluid" src="assets/img/Assets/tgb-express-1.png">  
        </div>
        <div class="col-lg-4">
        <img alt="car-1" class="img-fluid" src="assets/img/Assets/9266-2019-toyota-corolla.png">
        </div>
        <div class="col-lg-4">
        <img alt="car-1" class="img-fluid" src="assets/img/Assets/Ford-Transit-1.png">

        </div>
        <div class="mx-auto my-5">
        <img class="img-fluid" src="assets/img/Assets/map.PNG">
    </div>
        </div>

        </div>
        <app-dispatch-div></app-dispatch-div>
        <app-testimonial></app-testimonial>
        <app-suscribe></app-suscribe>
        <br>
        <br>
        <br>
        <br>
        <app-footer></app-footer>