<div class="landing-div">
    <app-navbar></app-navbar>
  
    <div class="banner">
    <div class="row mt-5">
    <div class="col-lg-6">
    <h1>Pickup, Delivery and Food Ordering Made Easy</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas feugiat felis. Mauris lobortis nisl nec mi convallis finibus. Nulla facilisi. Donec urna orci, placerat vestibulum sapien eget, laoreet egestas elit.</p>
    <p class="yellow-text">Now Available on Android</p>
    </div>
    <div class="col-lg-6">
    <img src="/src/assets/img/Assets/1261.png" width="780px">  
    </div>
    </div>
     
    <div>
</div>
