.landing-div
{
    background-color: #530317;
    /* background-image: url('/src/assets/img/Assets/1261.png'); */
    opacity:5%; 
}
.banner
{
    color: #fff;
}
h1{
    font-size: 50px;
}
.pink-text
{
    color: #5c0426;
}
.not-full-width
{
width: 75%;
}
.half-width
{
width: 50%;
}
@media only screen and (max-width: 768px)
{
   .image
{
    max-width: 400px !important;
    display: block;
    height: auto;
}

}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
img.image.img-fluid {
    max-width: 150% !important;
    margin-left: -90px !important;
}
}


@media only screen and (min-width: 1370px)
{
.img-fluid {
    max-width: 150% !important;
}
}