.landing-div
{
    background-color: #530317;
    /* background-image: url('/src/assets/img/Assets/1261.png'); */
    opacity:5%; 
}
.banner
{
    color: #fff;
}
.yellow-text
{
    color: #ffcf27;
}
h1{
    font-size: 50px;
}
.centered-text
{
    text-align: center;
}
.pink-text
{
    color: #5c0426;
}
.not-full-width
{
width: 75%;
}
.half-width
{
width: 50%;
}
 p{
    font-size: 18px;
}
h6{
    font-size: 28px;
}